body {
    margin: 0px;
    background-color: #cf2020;
    color: #212121;
    font-family: 'Open Sans', Roboto;
}

.header {
    width: 100%;
    display: block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
}

#posicion {
    height: 400px;
    width: 100%;
}

.historial a {
    display: inline-block;
    margin: 1%;
}

footer {
    margin-top: 0%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
}

footer p {
    margin: 0px;
    padding: 5%;
}

.fondo {
    background-color: #212121;
    color: #ffffff;
    margin: 5%;
    padding: 5%;
    border-radius: 25px;
    text-align: center;
}

div.historial {
    text-align: center;
    color: #fff;
}

#boton_busqueda {
    margin: 0 auto;
    font-family: 'Open Sans', Roboto;
    padding: 1%;
    border-radius: 2px;
    border: 0px;
    background-color: #ffffff;
    color: #000000;
    margin: 0%;
}

#buscar,
#volver,
#enviar,
button {
    font-family: 'Open Sans', Roboto;
    padding: 1%;
    border-radius: 2px;
    border: 0px;
    background-color: #ffffff;
    color: #000000;
    margin: 0%;
}

.historial button {
    margin-left: 3%;
}

div.historical,
div.resp {
    text-align: center;
    color: #ffffff;
}

.contenido {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff;
    padding: 3%;
}

.contenido p {
    margin-top: 0px;
}


/* Moviles en horizontal o tablets en vertical */

@media (min-width: 768px) {
    header {
        display: inline-flex;
    }
    button {
        padding: 1%;
        margin: 1%;
    }
    header ul {
        display: inline-flex;
        margin: 5%;
        color: #fff;
    }
    footer {
        margin-top: 100%;
    }
    footer p {
        padding: 5%;
    }
    .fondo {
        padding: 3%;
        margin: 3%;
    }
    .contenido {
        padding-left: 5%;
        padding-right: 5%;
    }
}


/* Tablets en horizontal y escritorios normales */

@media (min-width: 1024) {}


/* Escritorios muy amplios */

@media (min-width: 1200px) {}