html {
    margin: 0px;
    background-color: indigo;
    background-image:url(./fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    font-family: 'Open Sans', Roboto;
    width: 100%;
    display: block;
    text-align: center; 
    background-size: cover;
    background-attachment: fixed;
	
}

li {
    vertical-align: auto;
}

#central {
    width: 100%;
    display: inline-block;
    height: auto;
    border: #ffffff;
    border-style: solid;
   
}
#izq {
    
    width: 33%;
    float: left;
}
#cen {
    float: left;
    width: 33%;
}

#der {
    width: 33%;
    float: left;
    
    
}



article{
    display: inline-block;
    
}

div [id*="nompoke"]{
    text-align: center;
    
}

#posicion {
    height: 400px;
    width: 100%;
}

.historial a {
    display: inline-block;
    margin: 1%;
}

.header {
    color: #ffffff;
    height: 20%;
    width: 100%;
    background-color: black; 
}

#botoncito{
    float: left;
}


.contenido,
.fondo,
div.historical,
div.resp,
div.historial {
    text-align: center;
    color: #ffffff;

}

#boton_busqueda {
    margin: 0 auto;
    font-family: 'Open Sans', Roboto;
    padding: 1%;
    border-radius: 2px;
    border: 0px;
    background-color: #ffffff;
    color: #000000;
    margin: 0%;
}

.nro_tipo {
    float: unset;
    font-family: 'Open Sans', Roboto;
    padding: 0.5%;
    border-radius: 1px;
    border: 1px;
}
#texto,
#busqueda {
    font-family: 'Open Sans', Roboto;
    padding: 0.5%;
    border-radius: 1px;
    border: 1px;
}


#buscar,
#volver,
#enviar,
button {
    font-family: 'Open Sans', Roboto;
    padding: 0.5%;
    border-radius: 2px;
    border: 2px;
    background-color: blue;
    color: white;
    margin: 0%;
}

.historial button {
    margin-left: 3%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    
  }




image {
    float: left;
}

.epi {
    text-align: center;
}

.box {
    padding: 5px;
}
/* Moviles en horizontal o tablets en vertical */

@media (min-width: 768px) {
    header {
        display: inline-flex;
    }
    
 	
	
    button {
        padding: 1%;
        margin: 1%;
    }
   
    
   

/* Tablets en horizontal y escritorios normales */

@media (min-width: 1024) {}


/* Escritorios muy amplios */

@media (min-width: 1200px) {}
